{% extends 'listings/base.html' %}

{% block title %} Band Detail {% endblock %}

{% block content %}

<h1>{{ band.name }}</h1>

<ul>
    <li>Année : {{ band.year }}</li>
    <li>Saison : {{ band.get_season_display }}</li>
    <li>Comestible : {{ band.comestible|yesno }}</li>
    {% if band.wikipedia %}
    <li>Wikipedia : <a href='{{ band.wikipedia }}'>{{ band.wikipedia }}</a></li>
    {% endif %}
    <li>
        Annonces relatives :
        <ul>
            {% for listing in band.listing_set.all %}
            <li><a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>

<a class="no-clicked" href="{% url 'band-update' band.id %}">
    [ Modifier le groupe ]
</a>
<a href="{% url 'band-list' %}">Liste des plats</a>

{% endblock %}