{% extends 'listings/base.html' %}

{% block title %} Listings {% endblock %}

{% block content %}

<h1>Les annonces</h1>
<p>Retrouvez toutes les annonces</p>
<ul>
    <button><a href="{% url 'add-listing' %}">Ajouter une annonce</a></button>
    {% for listing in listings %}
    <li>
        <a href="{% url 'listing-detail' listing.id %}">
            {{ listing.title }}
        </a>
        &nbsp; - &nbsp;
        <a class="no-clicked" href="{% url 'listing-update' listing.id %}">
            [ Modifier l'annonce ]
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}