body {
    background: #222;
    color: #ddd;
}

menu ul li {
    list-style: none;
    display: inline;
    margin-inline: 20px;
}

a:visited {
    color:aquamarine;
}

.no-clicked, .no-clicked:visited {
    color: inherit;
}

.alert {
    background: red;
}

button {
    background: #666;
    border-radius: 5px;
}

.errorlist {
    margin-bottom: -15px;
    color: rgb(253, 141, 141);
}